* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif; }

ul, li {
  list-style-type: none; }

a {
  text-decoration: none; }

p {
  font-size: 16px; }

button {
  border: none;
  background: none;
  display: block; }

.container {
  width: 1440px;
  margin: 0 auto; }

.places {
  position: relative;
  background: url("../img/main_bg.jpg") center center/cover no-repeat;
  min-height: 962px;
  padding: 56px 0 376px 0;
  color: #fff; }
  .places .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 25px; }
    .places .header__menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: auto; }
      .places .header__menu li a {
        font-size: 18px;
        color: #fff;
        font-weight: normal; }
      .places .header__menu li:not(:last-child) {
        margin-right: 82px; }
  .places__title {
    margin-top: 176px;
    font-size: 50px;
    width: 619px;
    font-weight: 500; }
  .places__descr {
    margin-top: 22px;
    width: 546px;
    line-height: 24px; }
  .places__form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 59px; }
  .places__checkbox__1 {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    position: absolute; }

.btn {
  cursor: pointer;
  background-color: #1B7DFF;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  width: 171px;
  height: 58px;
  outline: none; }

.title {
  font-size: 35px;
  font-weight: 500;
  color: #102746; }

.benefits {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 1033px;
  width: 1262px;
  padding: 93px 100px 112px;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
  background-color: #fff; }
  .benefits__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 120px; }
  .benefits-item {
    width: 320px; }
    .benefits-item:not(:last-child) {
      margin-right: 55px; }
  .benefits__img {
    height: 58px; }
  .benefits__subtitle {
    margin-top: 37px; }
  .benefits__descr {
    margin-top: 26px; }
  .benefits__link {
    display: block;
    margin-top: 39px;
    text-transform: uppercase;
    color: #006DFE; }
    .benefits__link__arrow {
      width: 33px;
      height: 8px;
      margin-left: 26px;
      margin-bottom: 1px; }

.trip {
  padding: 563px 0 131px 0; }
  .trip__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .trip__link {
    margin-left: auto;
    color: #006DFE;
    text-transform: uppercase; }
  .trip__firstLine {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .trip__firstLine .trip-item {
      position: relative; }
      .trip__firstLine .trip-item .trip__img {
        margin-left: -19px; }
      .trip__firstLine .trip-item .trip__subtitle {
        position: absolute;
        top: 267px;
        left: 26px;
        color: #fff;
        font-size: 50px;
        font-weight: 700; }
  .trip__secondLine {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .trip__secondLine .trip-item {
      position: relative; }
    .trip__secondLine .trip__img {
      margin-left: -19px; }
    .trip__secondLine .trip__subtitle {
      position: absolute;
      top: 196px;
      left: 26px;
      color: #fff;
      font-size: 50px;
      font-weight: 700; }

.line {
  background-color: #006DFE;
  width: 253px;
  height: 3px;
  margin-top: 7px; }

/*# sourceMappingURL=style.css.map */