.btn {
    cursor: pointer;
    background-color: #1B7DFF;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    width: 171px;
    height: 58px;
    outline: none;
}