.trip {
    padding: 563px 0 131px 0;
    &__info {
        display: flex;
        align-items: center;
    }
    &__link {
        margin-left: auto;
        color: $blue_text;
        text-transform: uppercase;
    }
    &__firstLine {
        display: flex;
        .trip-item {
            position: relative;
            .trip__img {
                margin-left: -19px;
            }
            .trip__subtitle {
                position: absolute;
                top: 267px;
                left: 26px;
                color: #fff;
                font-size: 50px;
                font-weight: 700;
            }
        }
    }
    &__secondLine {
        display: flex;
        .trip-item {
            position: relative;
        }
        .trip__img {
            margin-left: -19px;
        }
        .trip__subtitle {
            position: absolute;
            top: 196px;
            left: 26px;
            color: #fff;
            font-size: 50px;
            font-weight: 700;
        }
    }
}